@mixin turn-content
{
	display:flex;
	flex-direction:column;
	width:100vw;
	padding-top:2vmax;

	@media(max-width:767px)
	{
		width:97vw;
	}

	@media(max-width:319px)
	{
		width:95vw;
	}

	@media(max-width:149px)
	{
		display:none;
	}
}

@mixin turn-warning
{
	display:none;

	@media(max-width:149px)
	{
		display:flex;
		width:90vw;
		padding-top:2vmax;
	    padding-left:3vw;
	    font-size:7vw;
	    font-weight:bold;
	    color:red;
	}
}

@mixin adaptive-input
{
	font-size:5vmax;
	width:80vw;

	@media(max-width:1023px)
	{
		font-size:4.5vmax;
		width:85vw;
	}

	@media(max-width:767px)
	{
		font-size:7vw;
	}
}

@mixin adaptive-info
{
	font-size:5vmax;

	@media(max-width:1023px)
	{
		font-size:4.5vmax;
	}

	@media(max-width:767px)
	{
		font-size:7vw;
	}
}

@mixin adaptive-button
{
	font-size:4vmax;

	@media(max-width:1023px)
	{
		font-size:3.5vmax;
	}

	@media(max-width:767px)
	{
		font-size:7vw;
	}
}

div 
{
	& [class~="content"]
	{
		@include turn-content;

		& [class~="div_input"]
		{
			padding-left:3vw;

			& *[class~="input_text"]
			{
				@include adaptive-input;
				border:4px solid blue;
			}
		}

		& [class~="div_info"]
		{
			padding-left:3vw;
			padding-bottom:1vmax;
			color:red;
			@include adaptive-info;
			font-weight:bold;
		}

		& [class~="qrcode"]
		{
			text-align:center;
			padding-bottom:1vmax;
		}

		& [class~="div_btn"]
		{
			text-align:center;

			& button
			{
				background-color:blue;
				color:white;
				@include adaptive-button; 
			}
		}
	}

	& [class~="warning"]
	{
		@include turn-warning;
	}
}