$bg:black;
$fc:white;

@mixin adaptive-header
{
	font-size:3vmax;

	@media(max-width:319px)
	{
		font-size:85%;
	}

	@media(max-width:767px)
	{
		font-size:100%;
	}

	@media(max-width:1023px)
	{
		font-size:3vmax;
	}
}

header
{
	background-color:$bg;
	color:$fc;
	font-weight:800;
	padding-left:1vmax;
	@include adaptive-header;
}